__pycache__/
*.py[cod]
*.so

.build/
dist/
*.egg-info/

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.pytype/

.idea/
.vscode/

.DS_Store
Thumbs.db

.coverage
coverage.xml
htmlcov/

pip-wheel-metadata/

.env
.env.*
